ol li{
	display: inline;
	text-decoration: none;
	list-style: none;
	background-color: #544848;
}

div.sumn{
	background-image: url("bg.jpg");
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
